<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    
    {{{body}}}

    <script type="text/javascript" src="/build/bundle.js" ></script>
  </body>
</html>
